html{
    padding: 0;
    margin: 0;
}

:root{
    --send-bg: #0B93F6;
    --text-color: white;
    --receive-bg: #34373c;
    --main-bg: #1d1f21;
    --friend-hover: #2d2f33;
    --friend-focus: #35383c;
    --dialog-bg: #222426;
}

body {
    background-color: var(--main-bg);
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.friends{
    flex: 20%;
    height: 100vh;
}

.dialog{
    flex: 80%;
    height: 100vh;
    background-color: var(--main-bg);
}

.friends__list-friend{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--main-bg);
    color: var(--text-color);
    border: 0;
    width: 100%;
    height: 50px;
    max-width: 230px; /* potom ispravlu jsom na mnogotochie*/
}

.friends__list-friend img {
    width: 40px;
    border-radius: 50%;
}

.friends__list-friend p {
    margin-left: 15px;
}

.friends__list-friend:hover{
    background-color: var(--friend-hover);
}

.friends__list-friend:focus{
    background-color: var(--friend-focus);
}

.friends header{
    display: flex;
    flex-direction: row;
    height: 7%;
}

.friends main{
    height: 93%;
}

.dialog header{
    background-color: var(--main-bg);
    color: var(--text-color);
    height: 7%;
    display: flex;
    flex-direction: row;
}

.dialog main{
    background-color: var(--dialog-bg);
    margin: 0;
    padding: 1% 1%;
    width: 98%; 
    height: 82%;
}

.dialog footer{
    background-color: var(--main-bg);
    height: 7.5%;
}

.friends__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.friends__list::-webkit-scrollbar,
.dialog__messages::-webkit-scrollbar{
    display: none;
}

.dialog__messages {
    padding: 0;
    margin: auto;
    list-style-type: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height:100%;
}
  
.dialog__messages li {
    max-width: 450px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
}
  
.dialog__messages-send {
    color: var(--text-color); 
    background: var(--send-bg);
    align-self: flex-end;
}

.dialog__messages-receive {
    color: var(--text-color);
    background: var(--receive-bg);
    align-self: flex-start;
}

.friends header a{
    text-decoration: none;
    cursor: default;
}

.friends__profile {
    background-color: var(--main-bg);
    border: 0;
    height: 100%;
}

.friends__profile:hover {
    background-color: var(--friend-hover);
}

.friends__profile img {
    width: 40px;
    border-radius: 50%;
}

.friends header input[type="text"]{
    margin: auto;
    height: 60%;
    width: 67%;
    background-color: var(--friend-focus);
    border: 0;
    border-radius: 20px;
    padding-left: 10px;
    color: var(--text-color);
}

.dialog header img {
    margin: auto 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dialog__status {
    margin: auto 10px;
    display: flex;
    flex-direction: column;
}

.dialog__username{

    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}

.dialog__lastseen{
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
}

.dialog footer {
    display: flex;
    flex-direction: row;
}

.dialog footer input[type="text"]{
    font-size: 1rem;
    margin: auto 1%;
    border-radius: 25px;
    height: 80%;
    width: 100%;
    padding-left: 10px;
    background-color: var(--friend-focus);
    color: var(--text-color);
    border: 0;
}

.dialog footer button {
    height: 40px;
    width: 40px;
    border: 0;
    margin: auto 0;
    background-color: var(--main-bg);
}

.dialog footer button img{
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 750px) {

    .friends header input[type="text"] { width: 50%; }
    .friends header a { margin: auto; }
    .friends__list-friend { width: 175px; }
}

@media only screen and (max-width: 600px) {

    .friends header input[type="text"] { width: 50%; }
    .friends header a { margin: auto; }
    .friends__list-friend { width: 125px; }
}


@media only screen and (max-width: 450px)  {

    .friends header { flex-direction: column; height: 12%; }
    .friends header input[type="text"] { width: 50px; }
    .friends header a { margin: auto; }
    .friends main { height: 88%; }
    .friends__list-friend { width: 100%; }
    .friends__list-friend img{ margin: auto; }
    .friends__list-friend p{  display: none; }
}